{
  "env": {
    "commonjs": true,
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": 2,
    "strict": 0,
    "no-useless-escape": 0,
    "no-param-reassign": 0,
    "import/newline-after-import": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-underscore-dangle": 0
  }
}
