{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "commonjs": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
